#mcl-landing-logo-container{
    width: 200px;
    position: relative;
    top:20%;
    left: 10%;
}
 

#mcl-landing-main-body{
    width:100%;
    height: 100%;
    background-image: url("/Media/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    div:nth-child(1){

         height: 57%;

     }

    div:nth-child(2){

         height: 19%;
         position: relative;
         h2{
             text-align: center;
             display: block;
             color: white;
             font-family: "Myriad Pro", Helvetica, sans-serif;
         }
         
         
     }

     div:nth-child(3){

        height: 24%;

     }

     >div{
      box-sizing: border-box;
    //   border: solid 0.5px red;
     }

     #headline-container{
            
            &::before,
            &::after{
                content:"";
                display:inline-block;
                width:1%;
                height:100%;
                vertical-align: middle;
            }
     }

     #headline-innercontainer{

        //  position: absolute;
        //  left: 0;
        //  right: 0;
        //  top: 0;
        //  bottom: 0;
        //  margin: auto;

        //  min-height: 50px;
        //  padding: 0 10px;

        width: 96%;
        display: inline-block;
        vertical-align: middle;
      }




}



#headline{
    font-size: 3rem;
    // line-height: 5rem;
    padding-bottom: 5px;
}
#sub-headline{
     font-size: 2.2rem;
     text-align: center;
     display: block;
     color: white;
     font-family: "Myriad Pro", "helvetica", "san-serif";
     a{color:white;}
     a+a{text-decoration: none;}
}


@media  (max-width: 500px)
{

    #mcl-landing-logo-container{
        width: 170px;
    }

     #headline-innercontainer{
         margin: 0px;
         margin-top: 5px;
         width: 95%;
     }
   
     #headline{
         font-size: 1.2rem ;
         line-height: 2rem;
     }
     #sub-headline{
         font-size:0.9rem;
         line-height:1.2;
         
     }


}

@media (min-width: 500px) and (max-width:900px){

    #headline{
         font-size: 1.9rem ;
         line-height: 2.2rem;
     }
     #sub-headline{
         font-size:1.4rem;
        //  line-height:2rem;
         
     }


}

@media (min-width: 900px) and (max-width:1200px){

     #headline{
         font-size: 2.2rem ;
         line-height: 2.2rem;
     }
     #sub-headline{
         font-size:1.8rem;
         line-height:2rem;
         
     }

}


@media (min-width: 1200px) and (max-width: 1600px)
{
   
     #headline{
         font-size: 2.2rem ;
        //  line-height: 2.5rem;
     }
     #sub-headline{
         font-size:1.6rem;
         line-height: 2rem;
         
     }


}
