/* Different components that can be reused through sites directly */
select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="button"],
input[type="submit"],
textarea
{
    font-family:$font_base;
    border: 1px solid $color_accent_dark;
    border-radius:0;
    padding:0 $spacing;
}

select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="button"],
input[type="submit"]
{
    line-height:$unit;
    height:$unit;
}

input[type="button"]{
    background-color:$color_highlight;
}
textarea{
    padding-top:$spacing;
    padding-bottom:$spacing;
}

input-section
{
    max-width:100%;
    
    border-bottom: 1px solid #333;
     &:last-child{
        border:none;
    }

    input-row
    {
        width:100%;
        min-width:$unit*2;
        @include flex(row, wrap, flex-start, center, center);
        padding:$spacing 0 0 $spacing;

        font-size:0;
    }
}

input-group,
input-set{
    @include flex-item(1,0,auto);
    margin:0 $spacing $spacing 0;
    padding:0;
}

input-group
{
    @include flex(row, wrap,flex-start,center,center);
    font-size:0;
    &>input-set{
        margin:0;
        display:inline-block;
    }
}

input-set
{
    //flex-item
    min-height: $unit*2;
    font-size:$fontsize;

    &.xs{
        flex-basis:12.5%;
        min-width:units2pixels(2);
    }
    &.s{
        flex-basis: 25%;
        min-width:units2pixels(4);
    }
    &.m{
        flex-basis: 50%;
        min-width:$min_width;
    }
    &.l{
        flex-basis: 75%;
        min-width:$min_width;
    }
    &.xl{
        flex-basis: 87.5%;
        min-width:$min_width;
    }

    label{
        display:block;
        line-height:$unit;
        width:100%;
    }

    input,
    select,
    textarea
    {
            width:100%;
            border-radius:0;
    }
}

.nogrow{
    @include flex-item-grow(0);
}